# Ignore virtual environment
backend/venv/
backend/__pycache__/

# Ignore node_modules
frontend/node_modules/

# Ignore environment variables
*.env

# Ignore macOS system files
.DS_Store

# Ignore Python compiled files
*.pyc
*.pyo
*.pyd

# Ignore IDE/editor files
.vscode/
.idea/